{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h2>Les derniers objets trouvés</h2>
        <section class="row">

            {% for traobjectfound in traobjectsfounds %}
                <article class="col-md-3">
                    {% include 'traobject/card.html.twig' with {'traobject': traobjectfound }%}
                </article>
            {% endfor %}

        </section>
    </div>

    <div class="container">
        <h2>Les derniers objets perdus</h2>
        <section class="row">

            {% for traobjectlost in traobjectslosts %}
                <article class="col-md-3">
                    {% include 'traobject/card.html.twig' with {'traobject': traobjectlost }%}
                </article>
            {% endfor %}

        </section>
    </div>

    </main>
{% endblock %}
