{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h2>Les derniers objets trouvés</h2>
        <section class="row">

                {% for traobject in traobjects if traobject.state.label == 'Trouvé' %}
                <article class="col-md-3">
                            {% include 'traobject/card.html.twig' %}
                        </article>
                    {% endfor %}

        </section>
    </div>

    <div class="container">
        <h2>Les derniers objets perdus</h2>
        <section class="row">

            {% for traobject in traobjects if traobject.state.label == 'Perdu' %}
                <article class="col-md-3">
                    {% include 'traobject/card.html.twig' %}
                </article>
            {% endfor %}

        </section>
    </div>

    </main>
{% endblock %}
